*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.top-1 li{
	width: 80px;
	height: 70px;
	list-style: none;
	float: left;
	margin: 0 10px;
	text-align: right;
}
.top-1 ul li a{
	color: #353434;
	font-family: "微软雅黑";
	font-weight:bold;
	font-size: 15px;
}
.top-1 li:hover a{
	color: red;
}
.top-1 li:hover a span{
	color: black;
}
.top-1 ul{
	width: 800px;
	height: 70px;
	margin-left: 60px;
}
.top-1 span{
	display: block;
	color:grey;
	font-weight:100;
	font-size: 12px;
}
.top{
	width: 100%;
	min-width: 1000px;
	height: 182px;
	background-color:#F0F0F0;
	background-image: url(../img/top-bg.png);
}
.top-1{
	width: 1000px;
	height: 182px;
	margin: auto;
	background-image: url(../img/top_02.gif);
}
.banner{
	width: 100%;
	min-width: 1000px;
	height: 500px;
	margin: auto;
	background-size: cover;
	background-image: url(../img/center-1-tu.png);
	position: relative;
}
.banner ul{
	position: absolute;
	width: 1000px;
	height: 34px;
	list-style: none;
	bottom: 0px;
	left: 50%;
	margin-left: -500px;
}
.banner ul li{
	width: 218px;
	height: 34px;
	float: left;
	margin: 1px;
	line-height:30px;
	text-align: center;
	background: rgba(0,0,0,0.5);
}
.banner ul li a{
	color: white;
}
.banner ul li:hover{
	background: red;
}
.banner ul li:nth-child(1){
	width: 57px;
	background: url(../img/arr.png) no-repeat;
	background-position: 0 0;
}
.banner ul li:nth-child(6){
	width: 57px;
	background: url(../img/arr.png) no-repeat;
	background-position: -57px 0;
}
.banner ul li:nth-child(1):hover{
	width: 57px;
	background: url(../img/arr.png) no-repeat;
	background-position: 0 -34px;
}
.banner ul li:nth-child(6):hover{
	width: 57px;
	background: url(../img/arr.png) no-repeat;
	background-position: -57px -34px;
}
.phone{
	width: 1000px;
	height: 98px;
	margin:2px auto;
	background:url(../img/center-qq.png) no-repeat;
}
.qq{
	display: inline-block;
	width: 187px;
	height: 98px;
	margin-left: 262px;
}
.xinw{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-left: 21px;
	margin-bottom: 12px;
	
}
.kong{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-left: -5px;
	margin-bottom: 12px;
}
.tengw{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-left: -5px;
	margin-bottom: 12px;
}
.center{
	width: 960px;
	height: 900px;
	margin:24px auto;
	padding: 0 20px;
}
.cen-left{
	width: 645px;
	height: 900px;
	float: left;
}
.cen-right{
	width: 300px;
	height: 900px;
	float: right;
}
.cen-nav b{
	font-size: 15px;
	font-weight: bold;
}
.cen-nav a{
	color: gray;
	font-weight: 100;
	font-size: 14px;
}
.cen-left ul{
	width: 100%;
	height: auto;
}
.cen-left ul li{
	width: 90%;
	height: 80px;
	border-bottom: 1px dashed gray;
	margin-top: 10px;
}
.cen_left_ul_left{
	width: 63px;
	height: 63px;background: url(../img/libg11.gif) no-repeat;
	float: left;
}
.cen_left_ul_left p{
	text-align: center;
}
.cen_left_ul_left p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
	font-family: "微软雅黑";
	color: #535353;
}
.cen_left_ul_left p:nth-child(2){
	font-size: 12px;
	color: black;
	line-height: 24px;
}
.cen_left_ul_right{
	float: right;
	width: 500px;
	height: 63px;
}
.cen_left_ul_right p:nth-child(1){
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}
.cen_left_ul_right p:nth-child(2){
	font-size: 10px;
}
.cen_left_ul_right p:nth-child(3){
	font-size: 12px;
}
.cen-left ul li:hover .cen_left_ul_left{
	background-position-y: -67px;
}
.cen-left ul li:hover .cen_left_ul_left p{
	color: white;
}
.cen-rit-top{
	width: 250px;
	height: 33px;
	background: url(../img/libg16.gif)no-repeat;
	padding-left: 35px;
	line-height: 33px;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.cen_rit_top_ul li{
	margin: 10px 8px;
	float: left;
}
.cen_rit_top_ul li a img{
	border: 1px solid gray;
	padding: 1px;
}
.cen_rit_top_ul a p{
	color: black;
	font-size: 12px;
	line-height: 20px;
}
.cen_rit_top_ul li:hover p{
	color: red;
}
.cen-rit-botm{
	width: 250px;
	height: 33px;
	background: url(../img/libg16.gif)no-repeat;
	padding-left: 35px;
	line-height: 33px;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.cen-rit-botm-ul li a{
	display: block;
	height: 28px;
	width: 265px;
	color: black;
	line-height: 28px;
	font-size: 14px;
	background: url(../img/libg5.gif)no-repeat;
	padding-left: 20px;
}
.cen-rit-botm-ul li a:hover{
	background-color: red;
	background-position-y: -28px;
	color: white;
}
.left-ye{
	width: 100%;
	height: 25px;
	margin-top: 30px;
}
.left-ye ul li{
	float: left;
	width: 20px;
	height: 25px;
	margin: 0 1px;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	border: 1px solid gainsboro;
}
.left-ye ul li{
	color: gray;
}
.left-ye ul li:hover{
	color: white;
}
.left-ye ul li:nth-child(1){
	width: 50px;
}
.left-ye ul li:nth-child(2){
	background: red;
	color: white;
}
.left-ye ul li:nth-child(6){
	width: 50px;
}
.left-ye ul li:nth-child(7){
	width: 50px;
}
.left-ye ul li:hover{
	background: red;
}
.left-ye ul li:hover a{
	color: white;
}
.cen-right>a{
	float: right;
	background: gray;
	color: white;
	font-size: 13px;
	margin-top: 170px;
	padding: 5px;
}
.btom-logo{
	width:100%;
	min-width: 1000px;
	height: 252px;
	margin: auto;
	background: #2E2E2E;
}
.box{
	width: 1000px;
	height: 252px;
	margin: auto;
	position: relative;
}
.b-logo{
	width: 300px;
	height: 230px;
	float: left;
	margin-top: 11px;
	position: relative;
	background: url(../img/button-logo.png) no-repeat;
}
.b-logo p:nth-child(1){
	position: absolute;
	color: #969696;
	top: 134px;
	left: 125px;
	font-size: 12px;
	line-height: 18px;
}
.b-logo p:nth-child(2){
	position: absolute;
	color: #969696;
	font-size: 12px;
	line-height: 18px;
	top: 173px;
	left: 125px;
}
.box ul{
	float: left;
	width: 163px;
	height: 115px;
	margin: 7px 5px;
}
.box ul li a{
	color: #969696;
	font-size: 13px;
}
.box ul li:nth-child(1){
	width: 158px;
	height: 27px;
	line-height: 30px;
	padding-left: 5px;
	background: black;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.box ul li:nth-child(1):hover{
	background: #676767;
}
.box ul li{
	width: 163px;
	height: 22px;
	text-align: left;
}
.box ul li:hover{
	background: #676767;
}
.box ul li:hover a{
	color: white;
}

.btom-t{
	width: 100%;
	min-width: 1000px;
	height: 112px;
	margin: auto;
	background: url(../img/zitu_06.png);
}
.btom-sh{
	width: 100%;
	min-width: 1000px;
	height: 69px;
	margin: auto;
	background: #1F1F1F;
}
.btom-sh p{
	display: block;
	width: 1000px;
	height: 49px;
	color: #A0A0A0;
	font-size: 12px;
	margin:auto;
	text-align: left;
	padding-top: 20px;
}
.btom-f{
	width: 100%;
	min-width: 1000px;
	height: 111px;
	margin: auto;
	background: #000000;
}
.btom-f p{
	width: 1000px;
	margin: auto;
	text-align: left;
	padding-top: 22px;
	font-size: 13px;
	color: white;
}
.b-top{
	width: 58px;
	height: 27px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
